body {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #213235;
}

p {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	color: #213235;
}

p.white-text{
	color: #fff;
	font-size: 16px;
}

a {
    color: #FEC800;
}

a:hover {
   text-decoration: none;
   color: #edbb00;
}

li.add-padding-bottom {
	padding-bottom: 20px;
}

.titulo-pasos {
	font-family:"Nunito";
	font-size: 18px;
	padding-top: 20px;
}

.titulo-pasos-select {
    font-family:"Nunito";
    font-size: 18px;
    padding-top: 20px;
}

p.titulo-pasos-select:hover {
    font-family:"Nunito";
    font-size: 18px;
    padding-top: 20px;
    color: #FEC800;

}

.add-top-separation {
	margin-top: 2px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	text-align: center;
	color: #213235;
}

.navbar-brand{
	padding: 10px 10px;
}

.navbar-header{
	margin-top: 20px;
	margin-bottom: 20px;
}

.navbar-static-top .navbar-nav>li>a {
	color: #213235;
	font-size: 12px;
}

.navbar-static-top .navbar-nav>li>a:hover {
	color: #FEC800;
	background-color: transparent;
	text-decoration: none;
}

a.button {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #fff;
  padding: 10px 30px 10px 30px; 
  border: 2px solid #FFFFFF;
  border-radius: 15px;
  font-size: 14px;
}

a.button:hover {
  color: #213235;
  background-color: #fff;
}

a.register-button {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #FEC800;
    padding: 10px 20px 10px 20px; 
    border: 2px solid #FEC800;
    border-radius: 15px;
    font-size: 16px;
    margin-left: 10px;
}

a.register-button:hover {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #213235;
    border: 2px solid #fff;
    padding: 10px 20px 10px 20px; 
    background-color: #fff;
    border-radius: 15px;
}

#banner{
	text-align: center;
	padding-top: 185px;
	padding-bottom: 185px;
    background-color: #213235;
  	background: url(../images/bannerazul.svg);
}

#banner-instrucciones{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 60px;
    background-color: #213235;
  	background: url(../images/bannerazul.svg);
}

#pasos {
	text-align: center;
	background-color: #fff;
	padding-top: 50px;
	padding-bottom: 60px;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
}

#registro-mail {
	background-color: #213235;
	width: 100%;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

h2 {
	font-family: "Nunito", sans-serif;
	font-weight: 400;
	font-size: 36px;
	color: #fff;
}

h3 {
	font-family: "Nunito", sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #FEC800;
	padding-top: 20px;
}

h4 {
	font-family: "Nunito", sans-serif;
	font-weight: 400;
	font-size: 30px;
	color: #FEC800;
    padding-bottom: 40px;
}

.container-instrucciones {
	padding-left: 75px;
	padding-right: 75px;
}

.container-preguntas {
	padding-left: 75px;
	padding-right: 75px;
}

.high-margins-text {
  margin: 2.5em 0;
  color: #fff;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

input {
	color: #213235;
}

input {
  text-decoration: none;
  font-family: 'Open Sans';
  font-weight: 400;
  padding: 12px 180px 12px 12px; 
  border: 2px solid #FFFFFF;
  border-radius: 15px;
  font-size: 14px;
  margin-left: 10px;
}

.resize-image {
	max-width: 100%;
	border-style: solid;
	border-width: 2px;
	border-color: #213235;
	border-radius: 5px;
}

.image-container{
	padding-bottom: 20px;
	padding-right: 30px;
	padding-top: 20px;
}

.logo-datamx {
	margin-right: 70px;
	width: 200px;
}

.footer {
	background-color: #FEC800;
	height: 110px;
	text-align: center;
	padding: 30px;
	max-width: 100%
}
